# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log

# Env / Secret files
.env

# Django
media/
staticfiles/
db.sqlite3

# Node / Tailwind
node_modules/
package-lock.json

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
